__pycache__/
.venv/
.idea/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/
android_app/build/
android_app/.gradle/
android_app/local.properties
android_app/gradle/wrapper/gradle-wrapper.jar
RoboArmApp/build/
RoboArmApp/.gradle/
RoboArmApp/local.properties
RoboArmApp/gradle/wrapper/gradle-wrapper.jar
node_modules/
.DS_Store
Thumbs.db
